body{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #00c6ff);
    background-size: 300% 300%;
    animation: swimBackground 5s infinite linear;
}

@keyframes swimBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.body{
    flex: 1;
}

#h1{
display: flex;
justify-content: center;
align-items: center;
}

.choiceHolder{
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    padding: 0px 18% 0 18%;
    gap: 2rem;
    height: 34%;
}

.option{
    flex: 1;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
    user-select: none;
    width: 24.5%;
}
.option:hover{
    transform: scale(1.2) 
}

.option:active {
    transform: scale(0.95)
}

img{
    width: 100%;
    height: 100%;
}

#result{
 text-align: center;
}

#won{
    text-align: center;
    padding-top: 30px;
    font-size: 100;
}